@font-face {
  font-family: handlee;
  src: url("../fonts/Handlee-Regular.ttf");
}
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "handlee", cursive;
}

body {
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

.app {
  background-color: #00dfc0;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.page {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  border-radius: 5px;
  padding: 3rem 0;
  background-color: white;
}
.page header {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}
.page header h1 {
  font-size: 5.2rem;
  color: #555;
}
.page header h3 {
  font-size: 2rem;
  color: #555;
}
.page header span {
  background-color: #00dfc0;
  height: 0.6rem;
  width: 15rem;
  position: absolute;
  bottom: 45%;
}

.input-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.input-container .add-todo-btn {
  background: transparent;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.input-container .add-todo-btn svg {
  color: #00dfc0;
  font-size: 3rem;
  transition: 0.2s;
}
.input-container .add-todo-btn svg:hover {
  color: #06a28e;
}
.input-container input {
  padding-bottom: 0.5rem;
  width: 50%;
  height: 2rem;
  font-size: 2rem;
  border: none;
  border-bottom: 1px solid #00dfc0;
  background: transparent;
  outline: none;
  font-family: "handlee", cursive;
}
.input-container input:focus {
  border-bottom: 2px solid #00dfc0;
}
.input-container input::placeholder {
  font-family: "handlee", cursive;
  font-size: 2rem;
}

.todos-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-header-container {
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding: 0 1.5rem 1rem;
  display: flex;
  width: 80%;
  font-size: 1.6rem;
  border-bottom: solid 1px #555;
}
.table-header-container .num, .table-header-container .task {
  width: 27.5%;
}
.table-header-container .data, .table-header-container .status, .table-header-container .delete {
  width: 15%;
  display: flex;
  justify-content: center;
}

.item-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  max-height: 50vh;
  overflow: auto;
  overflow-x: hidden;
}

.item-container::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.item-container::-webkit-scrollbar-thumb {
  background-color: #00dfc0;
  border-radius: 5px;
}

.item-container::-webkit-scrollbar-track {
  background-color: #333;
  border-radius: 5px;
}

.table-data-container {
  margin-top: 0.5rem;
  padding: 0 1.5rem 1rem;
  display: flex;
  width: 100%;
  max-width: 150%;
  font-size: 1.6rem;
}
.table-data-container .num {
  width: 10%;
}
.table-data-container .task {
  width: 45%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.table-data-container .complete-todo {
  text-decoration: line-through #00dfc0;
}
.table-data-container .date, .table-data-container .status, .table-data-container .delete {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-data-container .delete button {
  background: transparent;
  border: none;
  cursor: pointer;
}
.table-data-container .delete button svg {
  font-size: 1.8rem;
  transition: 0.2s;
}
.table-data-container .delete button svg:hover {
  color: rgb(255, 5, 5);
  animation: wiggle 2s infinite;
}
.table-data-container .status {
  align-items: center;
}
.table-data-container .status .check-box-container {
  cursor: pointer;
  border: 2px solid grey;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.2s;
}
.table-data-container .status .check-box-container .check-status {
  position: absolute;
  top: 4px;
  left: 3px;
  width: 1rem;
  height: 0.5rem;
  border: 3px solid grey;
  border-top: none;
  border-right: none;
  transform: rotate(310deg);
  border-radius: 2px;
  transition: 0.2s;
}
.table-data-container .status .check-box-container:hover {
  border: 2px solid #00dfc0;
}
.table-data-container .status .check-box-container:hover .check-status {
  border: 3px solid #00dfc0;
  border-top: none;
  border-right: none;
}
.table-data-container .status .complete-status {
  background-color: #00dfc0;
  border-color: #00dfc0;
}
.table-data-container .status .complete-status .check-complete-status {
  border-color: #eee;
}
.table-data-container .status .complete-status:hover {
  background-color: #555;
  border-color: #555;
}
.table-data-container .status .complete-status:hover .check-status {
  border: 3px solid #eee;
  border-top: none;
  border-right: none;
}

@media (max-width: 1100px) {
  .page {
    width: 90%;
  }
}
@media (max-width: 780px) {
  .page {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .page {
    height: 100%;
  }
  .page header {
    margin-top: 2rem;
  }
  .table-data-container .num, .table-data-container .date {
    display: none;
  }
  .table-data-container .task {
    width: 70%;
  }
  .table-header-container .num, .table-header-container .data {
    display: none;
  }
  .table-header-container .task {
    width: 70%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 450px) {
  .todos-container {
    width: 100%;
  }
  .input-container input {
    width: 70%;
  }
  .table-header-container .delete, .table-header-container .status {
    width: 20%;
  }
  .table-header-container .task {
    width: 60%;
  }
  .table-data-container .delete, .table-data-container .status {
    width: 20%;
  }
  .table-data-container .task {
    width: 60%;
  }
}
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

/*# sourceMappingURL=app.css.map */
