@font-face {
    font-family: handlee;
    src: url('../fonts/Handlee-Regular.ttf');
}


$text-color: #555;
$color-primary: #00dfc0;
$color-primary-tint: #06a28e;


* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family: "handlee", cursive;
}
body {
    width: 100vw;
    height: 100vh;
}
#root {
    width: 100%;
    height: 100%;
}
.app {
    background-color: $color-primary;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
   
}
.page {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    border-radius: 5px;
    padding: 3rem 0;
    background-color: white;
    & header {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;


        & h1 {
            font-size: 5.2rem;
            color: $text-color;
        }
        & h3 {
            font-size: 2rem;
            color: $text-color;
        }
        & span {
            background-color: $color-primary;
            height: 0.6rem;
            width: 10rem;
            position: absolute;
            bottom: 40%;
        }

    }
}

.input-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    
    & .add-todo-btn {
        background: transparent;
        border: none;
        border-radius: 2px;
        cursor: pointer;

        & svg {
            color: $color-primary;
            font-size: 3rem;
            transition: 0.2s;
        }
        & svg:hover {
            color: $color-primary-tint
        }
    }

    & input {
        padding-bottom: 0.5rem;
        width: 50%;
        height: 2rem;
        font-size: 2rem;
        border: none;
        border-bottom: 1px solid $color-primary;
        background: transparent;
        outline: none;
        font-family: "handlee", cursive;
    }
    & input:focus {
        border-bottom: 2px solid $color-primary;
    }
    
    & input::placeholder {
        font-family: "handlee", cursive;
        font-size: 2rem;
    }
}

.todos-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-header-container {
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding: 0 1.5rem 1rem;
    display: flex;
    width: 80%;
    font-size: 1.6rem;
    border-bottom: solid 1px #555;
    & .num, & .task {
        width: 27.5%;
    }
    & .data, & .status, & .delete {
        width: 15%;
        display: flex;
        justify-content: center;
    } 
}

.item-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    max-height: 50vh;
    overflow: auto;
    overflow-x: hidden;
}

.item-container::-webkit-scrollbar {
    width: 2px;
    height: 2px;

}
.item-container::-webkit-scrollbar-thumb {
    background-color: $color-primary;
    border-radius: 5px;
}
.item-container::-webkit-scrollbar-track {
    background-color: #333;
    border-radius: 5px;
}

.table-data-container {
    margin-top: 0.5rem;
    padding: 0 1.5rem 1rem;
    display: flex;
    width: 100%;
    max-width: 150%;
    font-size: 1.6rem;



    & .num {
        width: 10%;
    }
    & .task {
        width: 45%;
        display: flex;
        justify-content: center;
        text-decoration: none;
    }
    & .complete-todo {
        text-decoration: line-through $color-primary;
    }
    & .date, & .status, & .delete {
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    } 

    & .delete {
        & button {
            background: transparent;
            border: none;
            cursor: pointer;
            & svg {
                font-size: 1.8rem;
                transition: 0.2s;
            }
            & svg:hover {
                color: rgb(255, 5, 5);
                animation: wiggle 2s infinite;
            }
        }
    }

    & .status {
        align-items: center;
        & .check-box-container {
            cursor: pointer;
            border: 2px solid grey;
            width: 1.8rem;
            height: 1.8rem;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            transition: 0.2s;
            & .check-status {
                position: absolute;
                top: 4px;
                left: 3px;
                width: 1rem;
                height: 0.5rem;
                border: 3px solid grey;
                border-top: none;
                border-right: none;
                transform: rotate(310deg);
                border-radius: 2px;
                transition: 0.2s;
            }
            &:hover {
                border: 2px solid$color-primary;
                & .check-status {
                    border: 3px solid $color-primary;
                    border-top: none;
                    border-right: none;
                }
            }
        }

        & .complete-status {
            background-color: $color-primary;
            border-color: $color-primary;
            & .check-complete-status {
                border-color: #eee;
            }
            &:hover {
                background-color: #555;
            border-color: #555;
                & .check-status {
                    border: 3px solid #eee;
                    border-top: none;
                    border-right: none;
                }
            }


        }
    }

}

@media (max-width: 1100px) {
    .page {
        width: 90%;
    }
}
@media (max-width: 780px) {
    .page {
        width: 100%;
    }
}
@media (max-width: 700px) {
    .page {
        height: 100%;
        & header {
            margin-top: 2rem;
        }
    }
    .table-data-container {
        & .num, & .date {
            display: none;
        }
        & .task {
            width: 70%;
        }
        
    }
    .table-header-container {
        & .num, & .data{
            display: none;
        }
        & .task {
            width: 70%;
            display: flex;
            justify-content: center;
        }
    }
}
@media (max-width: 450px) {
    
    .todos-container {
        width: 100%;
    }

    .input-container {
        & input {
            width: 70%;
        }
    }
    
    .table-header-container {
        & .delete, & .status {
            width: 20%;
        }
        & .task {
            width: 60%;
        }
    }
    .table-data-container {
        & .delete, & .status {
            width: 20%;
        }
        & .task {
            width: 60%;
        }
    }
}

@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }